# Node.js with Vue + .NET Tests (Self-Hosted)

trigger:
- main

pool:
  name: SelfHosted

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- script: |
    cd frontend
    npm install
    npm run build
    echo $(Agent.Name)
    echo $(Agent.OS)
    echo $(Agent.JobName)
    echo $(Build.SourceBranch)
    echo $(System.CollectionUri)
  displayName: 'Build Vue.js'
 