trigger:
- main

pool:
  name: SelfHosted

steps:
# 1️⃣ Node
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

# 2️⃣ Build Vue
- script: |
    npm install
    npm run build
  displayName: 'Build Vue'

# 3️⃣ Verificar salida
- script: |
    echo === CONTENIDO DEL REPO ===
    dir
    echo === CONTENIDO DE dist ===
    dir dist
  displayName: 'Verificar dist'

# 4️⃣ Zip dist
- task: ArchiveFiles@2
  displayName: 'Zip dist'
  inputs:
    rootFolderOrFile: 'dist'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/vue-dist.zip'
    replaceExistingArchive: true

# 5️⃣ Deploy
- task: AzureWebApp@1
  displayName: 'Deploy Vue'
  inputs:
    azureSubscription: 'AzureServiceConnection'
    appType: 'webApp'
    appName: 'AplicionPrueba'
    package: '$(Build.ArtifactStagingDirectory)/vue-dist.zip'