trigger:
- main

pool:
  name: SelfHosted

steps:
# 1️⃣ Clonar frontend
- script: |
    git clone https://github.com/USUARIO/REPO-FRONTEND.git frontend
  displayName: 'Clonar frontend Vue'

# 2️⃣ Instalar Node
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

# 3️⃣ Build Vue
- script: |
    cd frontend
    npm install
    npm run build
  displayName: 'Build Vue'

# 4️⃣ Deploy
- task: AzureWebApp@1
  displayName: 'Deploy Vue'
  inputs:
    azureSubscription: 'AzureServiceConnection'
    appType: 'webApp'
    appName: 'AplicionPrueba'
    package: 'frontend/dist'