# Node.js with Vue + .NET Tests (Self-Hosted)

trigger:
- main

pool:
  name: SelfHosted

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- script: |
    cd frontend
    npm install
    npm run build
  displayName: 'Build Vue.js'