trigger:
- main

pool:
  name: SelfHosted

steps:

# 0️⃣ Checkout del repo actual (backend)
- checkout: self

# 1️⃣ Instalar Node
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

# 2️⃣ Clonar frontend
- script: |
    git clone https://github.com/JhonDev12/Freelaworkd-Evaluacion-Tecnica-Frontend.git frontend
  displayName: 'Clonar frontend Vue'

# 3️⃣ Ver estructura inicial
- script: |
    dir
    dir frontend
  displayName: 'Ver carpetas iniciales'

# 4️⃣ Instalar dependencias (MOSTRAR ERRORES)
- script: |
    cd frontend
    npm install --verbose
  displayName: 'npm install'

# 5️⃣ Build Vue (MOSTRAR ERRORES)
- script: |
    cd frontend
    npm run build --verbose
  displayName: 'npm run build'

# 6️⃣ Verificar si dist existe
- script: |
    dir frontend
    dir frontend\dist
  displayName: 'Verificar dist'